@keyframes fadeIn {
    from {background-color: transparent;}
}
@keyframes fadeOut {
    to {background-color: transparent;}
}

#CC_game_App {
    // display: flex;
    *{box-sizing: border-box;}
    box-sizing: border-box;
    border: 0.5rem solid hsl(0,0%,20%);
    width: 60%;
    aspect-ratio: 4/3;

    #CC_game_topBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        *{margin: 0 5%; width: fit-content; height: max-content; font-size: clamp(1rem, 4vh, 3.5vw);}
        width: 100%;
        height: fit-content;
        max-height: 10%;
        border-bottom: 0.75vh solid hsl(0,0%,20%);
    }

    #CC_game_Screen {
        background-color: darkgray;
        height: 100%;
    }

    .circle {
        position: absolute;
        width: 6%;
        aspect-ratio: 1/1; 
        border-radius: 50%;
        background-color: black;
        animation: fadeIn 0.25s both;
    }
}



// below are style elements only for this webpage

